# Rata Die -- Days Since

- https://en.wikipedia.org/wiki/Rata_Die

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Rata-Die----Days-Since" data-toc-modified-id="Rata-Die----Days-Since-1">Rata Die -- Days Since</a></span><ul class="toc-item"><li><span><a href="#Set-Up" data-toc-modified-id="Set-Up-1.1">Set Up</a></span></li><li><span><a href="#Fetch-Data" data-toc-modified-id="Fetch-Data-1.2">Fetch Data</a></span></li></ul></li><li><span><a href="#Insert-a-column-1-for-Rata-Die" data-toc-modified-id="Insert-a-column-1-for-Rata-Die-2">Insert a column 1 for Rata Die</a></span></li><li><span><a href="#Insert-rata-die" data-toc-modified-id="Insert-rata-die-3">Insert rata die</a></span></li><li><span><a href="#Inspect-DataFrame" data-toc-modified-id="Inspect-DataFrame-4">Inspect DataFrame</a></span></li><li><span><a href="#Save-DataFrame-to-CSV-file" data-toc-modified-id="Save-DataFrame-to-CSV-file-5">Save DataFrame to CSV file</a></span></li></ul></div>

## Set Up

In [1]:
date_format = "yyyy_mm_dd" # 2007.04.05
show_help = false
include("MarketIndicators.jl")

## Fetch Data

In [2]:
#data = available_datasets()
dataset_file_name = available_datasets()[5,2] # [row, column]
println(dataset_file_name)
df = fetch_dataset(dataset_file_name, date_format)
size(df)

^DJI.csv

(8989, 7)

# Insert a column 1 for Rata Die

In [3]:
insert!(df, 1, zeros(Int64, 8989), :Rata_Die)

8989Ã—8 DataFrame. Omitted printing of 2 columns
â”‚ Row  â”‚ Rata_Die â”‚ Date       â”‚ Open    â”‚ High    â”‚ Low     â”‚ Close   â”‚
â”‚      â”‚ Int64    â”‚ String     â”‚ Float64 â”‚ Float64 â”‚ Float64 â”‚ Float64 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 1    â”‚ 0        â”‚ 1985-01-29 â”‚ 1277.72 â”‚ 1295.49 â”‚ 1266.89 â”‚ 1292.62 â”‚
â”‚ 2    â”‚ 0        â”‚ 1985-01-30 â”‚ 1297.37 â”‚ 1305.1  â”‚ 1278.93 â”‚ 1287.88 â”‚
â”‚ 3    â”‚ 0        â”‚ 1985-01-31 â”‚ 1283.24 â”‚ 1293.4  â”‚ 1272.64 â”‚ 1286.77 â”‚
â”‚ 4    â”‚ 0        â”‚ 1985-02-01 â”‚ 1276.94 â”‚ 1286.11 â”‚ 1269.77 â”‚ 1277.72 â”‚
â”‚ 5    â”‚ 0        â”‚ 1985-02-04 â”‚ 1272.08 â”‚ 1294.94 â”‚ 1268.99 â”‚ 1290.08 â”‚
â”‚ 6    â”‚ 0        â”‚ 1985-02-05 â”‚ 1294.06 â”‚ 1301.13 â”‚ 1278.6  â”‚ 1285.23 â”‚
â”‚ 7    â”‚ 0        â”‚ 1985-02-06 â”‚ 1284.89 â”‚ 1294.5  â”‚ 1275.07 â”‚ 1280.59 â”‚
â”‚ 8    â”‚ 0        â”‚ 1985-02-07 â”‚ 1285.0  â”‚ 1297.04 â”‚ 1279.81 â”‚ 1290.08 â”‚
â”‚ 9    â”‚ 0        â”‚ 1985-02-08 â”‚ 1290.08 â”‚ 1297.15 â”‚ 1281.36 â”‚ 1289.97 â”‚
â”‚ 10   â”‚ 0        â”‚ 1985-02-11 â”‚ 1287.99 â”‚ 1291.74 â”‚ 1268.66 â”‚ 1276.06 â”‚
â‹®
â”‚ 8979 â”‚ 0        â”‚ 2020-09-11 â”‚ 27613.9 â”‚ 27828.8 â”‚ 27448.2 â”‚ 27665.6 â”‚
â”‚ 8980 â”‚ 0        â”‚ 2020-09-14 â”‚ 27718.7 â”‚ 28086.1 â”‚ 27718.7 â”‚ 27993.3 â”‚
â”‚ 8981 â”‚ 0        â”‚ 2020-09-15 â”‚ 28139.8 â”‚ 28231.1 â”‚ 27931.4 â”‚ 27995.6 â”‚
â”‚ 8982 â”‚ 0        â”‚ 2020-09-16 â”‚ 28031.7 â”‚ 28364.8 â”‚ 28021.7 â”‚ 28032.4 â”‚
â”‚ 8983 â”‚ 0        â”‚ 2020-09-17 â”‚ 27834.2 â”‚ 28056.8 â”‚ 27647.9 â”‚ 27902.0 â”‚
â”‚ 8984 â”‚ 0        â”‚ 2020-09-18 â”‚ 27864.9 â”‚ 27946.7 â”‚ 27488.0 â”‚ 27657.4 â”‚
â”‚ 8985 â”‚ 0        â”‚ 2020-09-21 â”‚ 27484.7 â”‚ 27484.7 â”‚ 26715.2 â”‚ 27147.7 â”‚
â”‚ 8986 â”‚ 0        â”‚ 2020-09-22 â”‚ 27170.3 â”‚ 27333.1 â”‚ 26989.9 â”‚ 27288.2 â”‚
â”‚ 8987 â”‚ 0        â”‚ 2020-09-23 â”‚ 27413.6 â”‚ 27464.5 â”‚ 26716.1 â”‚ 26763.1 â”‚
â”‚ 8988 â”‚ 0        â”‚ 2020-09-24 â”‚ 26716.1 â”‚ 27094.8 â”‚ 26537.0 â”‚ 26815.4 â”‚
â”‚ 8989 â”‚ 0        â”‚ 2020-09-25 â”‚ 26694.5 â”‚ 27239.3 â”‚ 26635.4 â”‚ 27174.0 â”‚

# Insert rata die

In [4]:
first_date

1900-01-01

In [5]:
rata_die_day_one

693596

In [11]:
days_since_day_one(df, 1, 2)

31074

In [13]:
update_rata_die!(df, 1, 2)

8989Ã—8 DataFrame. Omitted printing of 2 columns
â”‚ Row  â”‚ Rata_Die â”‚ Date       â”‚ Open    â”‚ High    â”‚ Low     â”‚ Close   â”‚
â”‚      â”‚ Int64    â”‚ String     â”‚ Float64 â”‚ Float64 â”‚ Float64 â”‚ Float64 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 1    â”‚ 31074    â”‚ 1985-01-29 â”‚ 1277.72 â”‚ 1295.49 â”‚ 1266.89 â”‚ 1292.62 â”‚
â”‚ 2    â”‚ 31075    â”‚ 1985-01-30 â”‚ 1297.37 â”‚ 1305.1  â”‚ 1278.93 â”‚ 1287.88 â”‚
â”‚ 3    â”‚ 31076    â”‚ 1985-01-31 â”‚ 1283.24 â”‚ 1293.4  â”‚ 1272.64 â”‚ 1286.77 â”‚
â”‚ 4    â”‚ 31077    â”‚ 1985-02-01 â”‚ 1276.94 â”‚ 1286.11 â”‚ 1269.77 â”‚ 1277.72 â”‚
â”‚ 5    â”‚ 31080    â”‚ 1985-02-04 â”‚ 1272.08 â”‚ 1294.94 â”‚ 1268.99 â”‚ 1290.08 â”‚
â”‚ 6    â”‚ 31081    â”‚ 1985-02-05 â”‚ 1294.06 â”‚ 1301.13 â”‚ 1278.6  â”‚ 1285.23 â”‚
â”‚ 7    â”‚ 31082    â”‚ 1985-02-06 â”‚ 1284.89 â”‚ 1294.5  â”‚ 1275.07 â”‚ 1280.59 â”‚
â”‚ 8    â”‚ 31083    â”‚ 1985-02-07 â”‚ 1285.0  â”‚ 1297.04 â”‚ 1279.81 â”‚ 1290.08 â”‚
â”‚ 9    â”‚ 31084    â”‚ 1985-02-08 â”‚ 1290.08 â”‚ 1297.15 â”‚ 1281.36 â”‚ 1289.97 â”‚
â”‚ 10   â”‚ 31087    â”‚ 1985-02-11 â”‚ 1287.99 â”‚ 1291.74 â”‚ 1268.66 â”‚ 1276.06 â”‚
â‹®
â”‚ 8979 â”‚ 44083    â”‚ 2020-09-11 â”‚ 27613.9 â”‚ 27828.8 â”‚ 27448.2 â”‚ 27665.6 â”‚
â”‚ 8980 â”‚ 44086    â”‚ 2020-09-14 â”‚ 27718.7 â”‚ 28086.1 â”‚ 27718.7 â”‚ 27993.3 â”‚
â”‚ 8981 â”‚ 44087    â”‚ 2020-09-15 â”‚ 28139.8 â”‚ 28231.1 â”‚ 27931.4 â”‚ 27995.6 â”‚
â”‚ 8982 â”‚ 44088    â”‚ 2020-09-16 â”‚ 28031.7 â”‚ 28364.8 â”‚ 28021.7 â”‚ 28032.4 â”‚
â”‚ 8983 â”‚ 44089    â”‚ 2020-09-17 â”‚ 27834.2 â”‚ 28056.8 â”‚ 27647.9 â”‚ 27902.0 â”‚
â”‚ 8984 â”‚ 44090    â”‚ 2020-09-18 â”‚ 27864.9 â”‚ 27946.7 â”‚ 27488.0 â”‚ 27657.4 â”‚
â”‚ 8985 â”‚ 44093    â”‚ 2020-09-21 â”‚ 27484.7 â”‚ 27484.7 â”‚ 26715.2 â”‚ 27147.7 â”‚
â”‚ 8986 â”‚ 44094    â”‚ 2020-09-22 â”‚ 27170.3 â”‚ 27333.1 â”‚ 26989.9 â”‚ 27288.2 â”‚
â”‚ 8987 â”‚ 44095    â”‚ 2020-09-23 â”‚ 27413.6 â”‚ 27464.5 â”‚ 26716.1 â”‚ 26763.1 â”‚
â”‚ 8988 â”‚ 44096    â”‚ 2020-09-24 â”‚ 26716.1 â”‚ 27094.8 â”‚ 26537.0 â”‚ 26815.4 â”‚
â”‚ 8989 â”‚ 44097    â”‚ 2020-09-25 â”‚ 26694.5 â”‚ 27239.3 â”‚ 26635.4 â”‚ 27174.0 â”‚

[back to top](#Table-of-Contents)
<hr/>

# Save DataFrame to CSV file

In [14]:
save_dataset(df, dataset_file_name);