# Days Since

## Table of Contents
- [Prepare DataFrame](#Prepare-DataFrame)
    - [Read the CSV data from the file into the DataFrame](#Read-the-CSV-data-from-the-file-into-the-DataFrame)
    - [Define given date format](#Define-given-date-format)
    - [Count number of rows in the DataSet](#Count-number-of-rows-in-the-DataSet)
    - [Function to provide day since](#Function-to-provide-day-since)

# Prepare DataFrame

## Read the CSV data from the file into the DataFrame

In [1]:
using DataFrames, CSV, Dates
df = CSV.read("market_indicators.csv")
typeof(df)

┌ Warning: `CSV.read(input; kw...)` is deprecated in favor of `using DataFrames; CSV.read(input, DataFrame; kw...)
│   caller = read(::String) at CSV.jl:40
└ @ CSV /Users/uki/.julia/packages/CSV/MKemC/src/CSV.jl:40

thread = 1 warning: only found 6 / 7 columns around data row: 1624. Filling remaining columns with `missing`

DataFrame

In [2]:
first(df,6)

6×7 DataFrame. Omitted printing of 4 columns
│ Row │ Day     │ Date       │ ISM Manufacturing │
│     │ Int64?  │ Date       │ Float64?          │
├─────┼─────────┼────────────┼───────────────────┤
│ 1   │ 1       │ 1948-03-31 │ 43.3              │
│ 2   │ 30      │ 1948-04-30 │ 45.4              │
│ 3   │ 60      │ 1948-05-31 │ 49.5              │
│ 4   │ 90      │ 1948-06-30 │ 53.0              │
│ 5   │ missing │ 1948-07-31 │ 48.4              │
│ 6   │ missing │ 1948-08-31 │ 45.1              │

In [3]:
last(df,6)

6×7 DataFrame. Omitted printing of 4 columns
│ Row │ Day     │ Date       │ ISM Manufacturing │
│     │ Int64?  │ Date       │ Float64?          │
├─────┼─────────┼────────────┼───────────────────┤
│ 1   │ missing │ 2019-12-31 │ missing           │
│ 2   │ missing │ 2020-01-01 │ 50.9              │
│ 3   │ missing │ 2020-01-31 │ missing           │
│ 4   │ missing │ 2020-02-01 │ 50.1              │
│ 5   │ missing │ 2020-02-29 │ 50.1              │
│ 6   │ missing │ 2020-03-31 │ 49.1              │

In [4]:
date_column = 2

2

# Define given date format

In [54]:
value = df[1, date_column] # row 1, column 2
date_format = "yy-mm-dd" # e.g. "1950-05-01"
Dates.Date("1950-05-01", date_format) # == "1950-05-01"

1950-05-01

## Count number of rows in the DataSet

In [55]:
rows = size(df)[1]

1623

# Determine day one

In [60]:
day_one = Dates.datetime2rata(value) # typeof(day_one) = Int64

711217

# Function to provide day since (rata die)

- https://en.wikipedia.org/wiki/Rata_Die

In [64]:
value = "1948-04-30"
#date = Dates.Date(value, date_format) # no need
date = df[2,2] # second row, date
typeof(date) # Julia auto-conversion of "1948-04-30" to Date

Date

In [66]:
rata_die = Dates.datetime2rata(date) # typeof(rate_die) = Int64

711247

In [67]:
rata_die - day_one

30

In [69]:
using Dates

function days_since_day_one(df, row, date_column) 
    date = df[row, date_column] # type Date
    #date = Dates.Date(value, date_format) # no need
    rata_die = Dates.datetime2rata(date) 
    rata_die = rata_die - day_one
    return rata_die
end

# TEST the function
days_since_day_one(df, 2, date_column)

30

In [76]:
column_days = 1
rows = size(df)[1] # first part of the returned tupple

for row = 1:rows
    days = days_since_day_one(df, row, date_column)
    # println(days)
    df[row, column_days] = days
end

In [77]:
first(df,6)

6×7 DataFrame. Omitted printing of 4 columns
│ Row │ Day    │ Date       │ ISM Manufacturing │
│     │ Int64? │ Date       │ Float64?          │
├─────┼────────┼────────────┼───────────────────┤
│ 1   │ 0      │ 1948-03-31 │ 43.3              │
│ 2   │ 30     │ 1948-04-30 │ 45.4              │
│ 3   │ 61     │ 1948-05-31 │ 49.5              │
│ 4   │ 91     │ 1948-06-30 │ 53.0              │
│ 5   │ 122    │ 1948-07-31 │ 48.4              │
│ 6   │ 153    │ 1948-08-31 │ 45.1              │

In [78]:
last(df,20)

20×7 DataFrame. Omitted printing of 4 columns
│ Row │ Day    │ Date       │ ISM Manufacturing │
│     │ Int64? │ Date       │ Float64?          │
├─────┼────────┼────────────┼───────────────────┤
│ 1   │ 25963  │ 2019-05-01 │ 51.6              │
│ 2   │ 25993  │ 2019-05-31 │ missing           │
│ 3   │ 26023  │ 2019-06-30 │ missing           │
│ 4   │ 26024  │ 2019-07-01 │ 51.3              │
│ 5   │ 26054  │ 2019-07-31 │ missing           │
│ 6   │ 26055  │ 2019-08-01 │ 48.8              │
│ 7   │ 26085  │ 2019-08-31 │ missing           │
│ 8   │ 26086  │ 2019-09-01 │ 48.2              │
│ 9   │ 26115  │ 2019-09-30 │ missing           │
│ 10  │ 26116  │ 2019-10-01 │ 48.5              │
│ 11  │ 26146  │ 2019-10-31 │ missing           │
│ 12  │ 26147  │ 2019-11-01 │ 48.1              │
│ 13  │ 26176  │ 2019-11-30 │ missing           │
│ 14  │ 26177  │ 2019-12-01 │ 47.8              │
│ 15  │ 26207  │ 2019-12-31 │ missing           │
│ 16  │ 26208  │ 2020-01-01 │ 50.9              │
│ 17  │ 26238  │ 2020-01-31 │ missing           │
│ 18  │ 26239  │ 2020-02-01 │ 50.1              │
│ 19  │ 26267  │ 2020-02-29 │ 50.1              │
│ 20  │ 26298  │ 2020-03-31 │ 49.1              │

[back to top](#Table-of-Contents)
<hr/>

# Save DataFrame to CSV file

In [79]:
CSV.write("market_indicators_001.csv", d, delim=',', header=true)

UndefVarError: UndefVarError: data_frame not defined