# Days Since

## Table of Contents
- [Prepare DataFrame](#Prepare-DataFrame)
    - [Read the CSV data from the file into the DataFrame](#Read-the-CSV-data-from-the-file-into-the-DataFrame)
    - [Define given date format](#Define-given-date-format)
    - [Count number of rows in the DataSet](#Count-number-of-rows-in-the-DataSet)

# Prepare DataFrame

## Read the CSV data from the file into the DataFrame

In [1]:
using DataFrames, CSV
df = CSV.read("market_indicators.csv")

┌ Warning: `CSV.read(input; kw...)` is deprecated in favor of `using DataFrames; CSV.read(input, DataFrame; kw...)
│   caller = read(::String) at CSV.jl:40
└ @ CSV /Users/uki/.julia/packages/CSV/MKemC/src/CSV.jl:40

thread = 1 warning: only found 7 / 8 columns around data row: 1624. Filling remaining columns with `missing`

1623×8 DataFrame. Omitted printing of 4 columns
│ Row  │ Day     │ Date         │ ISM Manufacturing Index │ ISM Manufacturing │
│      │ Int64?  │ String       │ Union{Missing, Float64} │ Float64?          │
├──────┼─────────┼──────────────┼─────────────────────────┼───────────────────┤
│ 1    │ 1       │ Mar 31, 1948 │ 43.3                    │ 43.3              │
│ 2    │ 30      │ Apr 30, 1948 │ 45.4                    │ 45.4              │
│ 3    │ 60      │ May 31, 1948 │ 49.5                    │ 49.5              │
│ 4    │ 90      │ Jun 30, 1948 │ 53.0                    │ 53.0              │
│ 5    │ missing │ Jul 31, 1948 │ 48.4                    │ 48.4              │
│ 6    │ missing │ Aug 31, 1948 │ 45.1                    │ 45.1              │
│ 7    │ missing │ Sep 30, 1948 │ 42.1                    │ 42.1              │
│ 8    │ missing │ Oct 31, 1948 │ 47.2                    │ 47.2              │
│ 9    │ missing │ Nov 30, 1948 │ 42.4                    │ 42.4              │
│ 10   │ missing │ Dec 31, 1948 │ 35.0                    │ 35.0              │
⋮
│ 1613 │ missing │ Oct 1, 2019  │ missing                 │ 48.5              │
│ 1614 │ missing │ Oct 31, 2019 │ 48.5                    │ missing           │
│ 1615 │ missing │ Nov 1, 2019  │ missing                 │ 48.1              │
│ 1616 │ missing │ Nov 30, 2019 │ 48.1                    │ missing           │
│ 1617 │ missing │ Dec 1, 2019  │ missing                 │ 47.8              │
│ 1618 │ missing │ Dec 31, 2019 │ 47.8                    │ missing           │
│ 1619 │ missing │ Jan 1, 2020  │ missing                 │ 50.9              │
│ 1620 │ missing │ Jan 31, 2020 │ 50.9                    │ missing           │
│ 1621 │ missing │ Feb 1, 2020  │ missing                 │ 50.1              │
│ 1622 │ missing │ Feb 29, 2020 │ 50.1                    │ 50.1              │
│ 1623 │ missing │ Mar 31, 2020 │ 49.1                    │ 49.1              │

# Define given date format

In [4]:
date_format = "u d, y" # e.g. Aug 31, 1950

"u d, y"

# Determine day one

In [5]:
using Dates

function get_day_one(array_data, column_dates, date_format) 
    value = array_data[1, column_dates]

    day_one = Dates.datetime2rata(DateTime(value, date_format)) # using Dates
    println(value, " is the day one with value ", day_one)
end
day_one = get_day_one(df, 2, date_format)

Mar 31, 1948 is the day one with value 711217

## Count number of rows in the DataSet

In [6]:
rows = size(df)[1]

1623

In [8]:
column_dates = 2

function days_since_day_one(array_data, row, column_dates) 
    value = array_data[row, column_dates]
    Dates.datetime2rata(Date(value, date_format)) - day_one(array_data) 
end

# TEST function
days_since_day_one(df, 1, column_dates)

MethodError: MethodError: objects of type Nothing are not callable

In [ ]:
column_days = 1
column_days = 1

for row = 1:rows
    array_data[row, column_days] = days_since_day_one(array_data, row, column_dates) 
end
array_data