# Treasury Yield 10 Years (^TNX)

In [1]:
file = "data/^TNX.csv"

"data/^TNX.csv"

In [2]:
# import Pkg; Pkg.add("Flux")
#using Flux

# import Pkg; Pkg.add("DelimitedFiles")
using DelimitedFiles

# import Pkg; Pkg.add("Statistics")
#using Statistics

# import Pkg; Pkg.add("Flux")
#using Flux.Optimise: update!

# import Pkg; Pkg.add("Parameters")
#using Parameters #: @with_kw


# import Pkg; Pkg.add("Plots")
using Plots

# import Pkg; Pkg.add("DataFrames")
using DataFrames

# import Pkg; Pkg.add("CSV")
using CSV

# import Pkg; Pkg.add("Dates")
using Dates

In [3]:
include("MarketIndicators.jl")

fetch_data (generic function with 1 method)

In [4]:
df = fetch_data(file)

┌ Warning: `CSV.read(input; kw...)` is deprecated in favor of `using DataFrames; CSV.read(input, DataFrame; kw...)
│   caller = read at CSV.jl:40 [inlined]
└ @ Core /Users/uki/.julia/packages/CSV/MKemC/src/CSV.jl:40

18246×7 DataFrame. Omitted printing of 1 columns
│ Row   │ Date       │ Open     │ High     │ Low      │ Close    │ Adj Close │
│       │ Date       │ String   │ String   │ String   │ String   │ String    │
├───────┼────────────┼──────────┼──────────┼──────────┼──────────┼───────────┤
│ 1     │ 1962-01-02 │ 4.060000 │ 4.060000 │ 4.060000 │ 4.060000 │ 4.060000  │
│ 2     │ 1962-01-03 │ 4.030000 │ 4.030000 │ 4.030000 │ 4.030000 │ 4.030000  │
│ 3     │ 1962-01-04 │ 3.990000 │ 3.990000 │ 3.990000 │ 3.990000 │ 3.990000  │
│ 4     │ 1962-01-05 │ 4.020000 │ 4.020000 │ 4.020000 │ 4.020000 │ 4.020000  │
│ 5     │ 1962-01-07 │ null     │ null     │ null     │ null     │ null      │
│ 6     │ 1962-01-08 │ 4.030000 │ 4.030000 │ 4.030000 │ 4.030000 │ 4.030000  │
│ 7     │ 1962-01-09 │ 4.050000 │ 4.050000 │ 4.050000 │ 4.050000 │ 4.050000  │
│ 8     │ 1962-01-10 │ 4.070000 │ 4.070000 │ 4.070000 │ 4.070000 │ 4.070000  │
│ 9     │ 1962-01-11 │ 4.080000 │ 4.080000 │ 4.080000 │ 4.080000 │ 4.080000  │
│ 10    │ 1962-01-12 │ 4.080000 │ 4.080000 │ 4.080000 │ 4.080000 │ 4.080000  │
⋮
│ 18236 │ 2020-08-21 │ 0.632000 │ 0.656000 │ 0.623000 │ 0.640000 │ 0.640000  │
│ 18237 │ 2020-08-23 │ null     │ null     │ null     │ null     │ null      │
│ 18238 │ 2020-08-24 │ 0.633000 │ 0.651000 │ 0.622000 │ 0.646000 │ 0.646000  │
│ 18239 │ 2020-08-25 │ 0.685000 │ 0.716000 │ 0.679000 │ 0.682000 │ 0.682000  │
│ 18240 │ 2020-08-26 │ 0.716000 │ 0.721000 │ 0.685000 │ 0.687000 │ 0.687000  │
│ 18241 │ 2020-08-27 │ 0.675000 │ 0.746000 │ 0.649000 │ 0.746000 │ 0.746000  │
│ 18242 │ 2020-08-28 │ 0.739000 │ 0.746000 │ 0.713000 │ 0.729000 │ 0.729000  │
│ 18243 │ 2020-08-30 │ null     │ null     │ null     │ null     │ null      │
│ 18244 │ 2020-08-31 │ 0.733000 │ 0.739000 │ 0.692000 │ 0.693000 │ 0.693000  │
│ 18245 │ 2020-09-01 │ 0.720000 │ 0.729000 │ 0.671000 │ 0.672000 │ 0.672000  │
│ 18246 │ 2020-09-02 │ 0.677000 │ 0.687000 │ 0.643000 │ 0.651000 │ 0.651000  │