# Uber DataFrame
- This notebook combines multiple Market indicators into one massive DataFrame
- That DataFrame will be used for Machine Learning

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Set-Up" data-toc-modified-id="Set-Up-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Set Up</a></span></li><li><span><a href="#Fetch-Data" data-toc-modified-id="Fetch-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Fetch Data</a></span><ul class="toc-item"><li><span><a href="#Preview-Content" data-toc-modified-id="Preview-Content-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Preview Content</a></span></li></ul></li><li><span><a href="#Rename-Columns-and-Merge-into-Single-DataFrame" data-toc-modified-id="Rename-Columns-and-Merge-into-Single-DataFrame-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Rename Columns and Merge into Single DataFrame</a></span></li></ul></div>

## Set Up

In [1]:
dir="./Data/processed/"

file1 = "^DJI.csv"
file2 = "united-states.ism-manufacturing-employment.csv"


include("MarketIndicators.jl") 
println()

## Fetch Data

In [11]:
df1 = fetch_dataset( file1 , "yyyy-mm-dd", dir )

df1_min_day = minimum(df1[:,1])
println("df1_min_day: ", df1_min_day)

df1_max_day = maximum(df1[:,1])
println("df1_max_day: ", df1_max_day)

using Statistics
describe(df1)

./Data/processed/^DJI.csv
df1_min_day: 724670
df1_max_day: 737735

9×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median   │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…   │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼──────────┼────────────┼─────────┤
│ 1   │ Day      │ 731202.0 │ 724670     │ 731202.0 │ 737735     │         │
│ 2   │ Date     │          │ 1985-01-29 │          │ 2020-11-06 │ 13066   │
│ 3   │ Value    │ -46.5783 │ -128.0     │ -47.0    │ 127.0      │         │
│ 4   │ Original │ 10292.9  │ 1251.21    │ 10198.5  │ 29568.6    │         │
│ 5   │ Avg005   │ -46.5765 │ -128.0     │ -47.4    │ 126.4      │         │
│ 6   │ Avg030   │ -46.5606 │ -128.0     │ -47.13   │ 123.63     │         │
│ 7   │ Avg090   │ -46.5292 │ -127.97    │ -46.64   │ 119.87     │         │
│ 8   │ Avg180   │ -46.4564 │ -127.64    │ -46.78   │ 112.75     │         │
│ 9   │ Avg365   │ -46.226  │ -126.98    │ -46.84   │ 105.19     │         │

In [12]:
df2 = fetch_dataset( file2 , "yyyy-mm-dd", dir )


df2_min_day = minimum(df2[:,1])
println("df2_min_day: ", df2_min_day)

df2_max_day = maximum(df2[:,1])
println("df2_max_day: ", df2_max_day)


using Statistics
describe(df2)

./Data/processed/united-states.ism-manufacturing-employment.csv
df2_min_day: 735173
df2_max_day: 737731

9×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median   │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…   │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼──────────┼────────────┼─────────┤
│ 1   │ Day      │ 736452.0 │ 735173     │ 736452.0 │ 737731     │         │
│ 2   │ Date     │          │ 2013-11-01 │          │ 2020-11-02 │ 2559    │
│ 3   │ Value    │ 64.2564  │ -128.0     │ 69.0     │ 127.0      │         │
│ 4   │ Original │ 52.2247  │ 27.5       │ 52.8     │ 60.3       │         │
│ 5   │ Avg005   │ 64.1569  │ -128.0     │ 69.0     │ 127.0      │         │
│ 6   │ Avg030   │ 63.5885  │ -128.0     │ 70.33    │ 127.0      │         │
│ 7   │ Avg090   │ 62.2339  │ -79.27     │ 72.78    │ 124.68     │         │
│ 8   │ Avg180   │ 61.0588  │ -36.78     │ 70.09    │ 114.71     │         │
│ 9   │ Avg365   │ 59.2222  │ -8.1       │ 65.89    │ 106.14     │         │

In [19]:
uber_min_day = df1_min_day
if df1_min_day < df2_min_day
    uber_min_day = df2_min_day
end
println("uber_min_day: ", uber_min_day)

uber_min_day: 735173

In [20]:
uber_max_day = df1_max_day
if df1_max_day > df2_max_day
    uber_max_day = df2_max_day
end
println("uber_max_day: ", uber_max_day)

uber_max_day: 737731

In [26]:
days_range = uber_min_day:uber_max_day

735173:737731

In [25]:
using DataFrames
uber_df = DataFrame( Day           = df1[rows_range,1], 
                     #Date          = df1[rows_range,2], 
                     #DJIA_Value    = df1[rows_range,3], 
                     #DJIA_Original = df1[rows_range,4], 
                     #DJIA_Avg005   = df1[rows_range,5], 
                     #DJIA_Avg030   = df1[rows_range,6], 
                     #DJIA_Avg090   = df1[rows_range,7], 
                     #DJIA_Avg180   = df1[rows_range,8], 
                     #DJIA_Avg365   = df1[rows_range,9]
                   )

using Statistics
describe(uber_df)

BoundsError: BoundsError: attempt to access String

### Preview Content