# Uber DataFrame
- This notebook combines multiple Market indicators into one massive DataFrame
- That DataFrame will be used for Machine Learning

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Set-Up" data-toc-modified-id="Set-Up-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Set Up</a></span></li><li><span><a href="#Fetch-Data" data-toc-modified-id="Fetch-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Fetch Data</a></span></li><li><span><a href="#Find-Common-Date-Span" data-toc-modified-id="Find-Common-Date-Span-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Find Common Date Span</a></span></li><li><span><a href="#Visualize-the-dependencies" data-toc-modified-id="Visualize-the-dependencies-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Visualize the dependencies</a></span><ul class="toc-item"><li><span><a href="#Preview-Content" data-toc-modified-id="Preview-Content-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Preview Content</a></span></li></ul></li></ul></div>

## Set Up

In [1]:
dir="./Data/processed/"

dataset_file_name = "uber.csv"

file1 = "^DJI.csv"
file2 = "united-states.ism-manufacturing-employment.csv"
file3 = "united-states.housing-starts-mm.csv"


include("MarketIndicators.jl") 
println()

## Fetch Data

In [2]:
df1 = fetch_dataset( file1 , "yyyy-mm-dd", dir )

using Statistics
describe(df1)

./Data/processed/^DJI.csv

9×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median   │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…   │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼──────────┼────────────┼─────────┤
│ 1   │ Day      │ 731202.0 │ 724670     │ 731202.0 │ 737735     │         │
│ 2   │ Date     │          │ 1985-01-29 │          │ 2020-11-06 │ 13066   │
│ 3   │ Value    │ -46.5783 │ -128.0     │ -47.0    │ 127.0      │         │
│ 4   │ Original │ 10292.9  │ 1251.21    │ 10198.5  │ 29568.6    │         │
│ 5   │ Avg005   │ -46.5765 │ -128.0     │ -47.4    │ 126.4      │         │
│ 6   │ Avg030   │ -46.5606 │ -128.0     │ -47.13   │ 123.63     │         │
│ 7   │ Avg090   │ -46.5292 │ -127.97    │ -46.64   │ 119.87     │         │
│ 8   │ Avg180   │ -46.4564 │ -127.64    │ -46.78   │ 112.75     │         │
│ 9   │ Avg365   │ -46.226  │ -126.98    │ -46.84   │ 105.19     │         │

In [3]:
df2 = fetch_dataset( file2 , "yyyy-mm-dd", dir )

using Statistics
describe(df2)

./Data/processed/united-states.ism-manufacturing-employment.csv

9×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median   │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…   │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼──────────┼────────────┼─────────┤
│ 1   │ Day      │ 736452.0 │ 735173     │ 736452.0 │ 737731     │         │
│ 2   │ Date     │          │ 2013-11-01 │          │ 2020-11-02 │ 2559    │
│ 3   │ Value    │ 64.2564  │ -128.0     │ 69.0     │ 127.0      │         │
│ 4   │ Original │ 52.2247  │ 27.5       │ 52.8     │ 60.3       │         │
│ 5   │ Avg005   │ 64.1569  │ -128.0     │ 69.0     │ 127.0      │         │
│ 6   │ Avg030   │ 63.5885  │ -128.0     │ 70.33    │ 127.0      │         │
│ 7   │ Avg090   │ 62.2339  │ -79.27     │ 72.78    │ 124.68     │         │
│ 8   │ Avg180   │ 61.0588  │ -36.78     │ 70.09    │ 114.71     │         │
│ 9   │ Avg365   │ 59.2222  │ -8.1       │ 65.89    │ 106.14     │         │

In [4]:
df3 = fetch_dataset( file3 , "yyyy-mm-dd", dir )

using Statistics
describe(df3)

./Data/processed/united-states.housing-starts-mm.csv

7×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median   │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…   │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼──────────┼────────────┼─────────┤
│ 1   │ Day      │ 736846.0 │ 735975     │ 736846.0 │ 737718     │         │
│ 2   │ Date     │          │ 2016-01-12 │          │ 2020-10-20 │ 1744    │
│ 3   │ Value    │ 11.0195  │ -128.0     │ 9.0      │ 127.0      │         │
│ 4   │ Original │ 0.17328  │ -30.2      │ -0.3     │ 25.5       │         │
│ 5   │ Avg090   │ 10.1343  │ -74.04     │ 11.01    │ 78.98      │         │
│ 6   │ Avg180   │ 9.01821  │ -17.92     │ 10.025   │ 28.67      │         │
│ 7   │ Avg365   │ 8.58735  │ -3.9       │ 9.63     │ 21.17      │         │

## Find Common Date Span

Example:
- for all the DataFrames
- find lowest dates
- select the highest (common) of them

In [5]:
oldest_common_day = maximum([minimum(df1[:,1]), minimum(df2[:,1]), minimum(df3[:,1])])
#735975

735975

In [6]:
newest_common_day = minimum([maximum(df1[:,1]), maximum(df2[:,1]), maximum(df3[:,1])])
#737718

737718

In [7]:
df1_min_id = find_day(df1, oldest_common_day)
df1_max_id = find_day(df1, newest_common_day)
df1_rows_range = df1_min_id:df1_max_id

11306:13049

In [8]:
df2_min_id = find_day(df2, oldest_common_day)
df2_max_id = find_day(df2, newest_common_day)
df2_rows_range = df2_min_id:df2_max_id

803:2546

In [9]:
df3_min_id = find_day(df3, oldest_common_day)
df3_max_id = find_day(df3, newest_common_day)
df3_rows_range = df3_min_id:df3_max_id

1:1744

In [14]:
using DataFrames
uber_df = DataFrame(  Day                   = df1[df1_rows_range,1] 
                     ,Date                  = df1[df1_rows_range,2] 
                     ,DJIA_Value            = df1[df1_rows_range,3] 
                     ,DJIA_Original         = df1[df1_rows_range,4] 
                     ,DJIA_Avg005           = df1[df1_rows_range,5] 
                     ,DJIA_Avg030           = df1[df1_rows_range,6] 
                     ,DJIA_Avg090           = df1[df1_rows_range,7] 
                     ,DJIA_Avg180           = df1[df1_rows_range,8] 
                     ,DJIA_Avg365           = df1[df1_rows_range,9] 
                     ,ISM_MFC_EMP_Value     = df2[df2_rows_range:,3]
                     ,ISM_MFC_EMP_Original  = df2[df2_rows_range:,4] 
                     ,ISM_MFC_EMP_Avg005    = df2[df2_rows_range:,5] 
                     ,ISM_MFC_EMP_Avg030    = df2[df2_rows_range:,6] 
                     ,ISM_MFC_EMP_Avg090    = df2[df2_rows_range:,7] 
                     ,ISM_MFC_EMP_Avg180    = df2[df2_rows_range:,8] 
                     ,ISM_MFC_EMP_Avg365    = df2[df2_rows_range:,9]
                     ,HOUSE_SRT_MM_Value    = df3[df3_rows_range:,3]
                     ,HOUSE_SRT_MM_Original = df3[df3_rows_range:,4] 
                     ,HOUSE_SRT_MM_Avg090   = df3[df3_rows_range:,7] 
                     ,HOUSE_SRT_MM_Avg180   = df3[df3_rows_range:,8] 
                     ,HOUSE_SRT_MM_Avg365   = df3[df3_rows_range:,9]
                   )

using Statistics
describe(uber_df)

LoadError: syntax: missing last argument in "df2_rows_range:" range expression

## Visualize the dependencies

In [11]:
columns = preview_data(uber_df, 3)
println()

UndefVarError: UndefVarError: uber_df not defined

In [12]:
using Plots

record_count = size(uber_df)[1]
rows = 1:record_count
dates = format_dates( uber_df[rows,2] , "m/d/yy")

gr()
plot(          dates, # x-axis: dates
               [  uber_df[rows,7] uber_df[rows,10]/4       ], # y-axis
    label    = [       columns[7]      columns[10]    "" ],
    legend   =:topleft, 
              # :right, :left, :top, :bottom, :inside, :best, :legend, :topright, :topleft, :bottomleft, :bottomright
    xlabel   = "time",
    ylabel   = "indicators",
    size     = (980, 400), # width, height
    layout = (1, 1) # number of graphs: vertically, horizontally
    )

UndefVarError: UndefVarError: uber_df not defined

### Preview Content

In [13]:
save_dataset(uber_df, dataset_file_name );

UndefVarError: UndefVarError: uber_df not defined